/* index.css or App.css */
body {
  margin: 0;
  background-color: #1e1e1e; 
 
  color: #fff;               
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevents scrolling */
}

#root, .app {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}